.header-title {
    font-size: 30px;
    line-height: 1.4;
    font-weight: 500;
    font-style: normal;
    margin: auto;
    text-align: center;
    color: var(--color-white);
    max-width: 1200px;
}

@media (max-width: 1023px) {
    .header-title {
        font-size: 25px;
    }
  }