.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-blue);
    height: 40px;
}

.footer__text {
    margin: auto;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}