.burger-button__conteiner {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    display: none;
    opacity: .8;
    transition: opacity 0.3s ease-in-out;
}

.burger-button__conteiner:hover {
    opacity: 1;
}

@media (max-width: 1175px) {
    .burger-button__conteiner {
      display: block;
    }
  }

.burger-button {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
    background-color: transparent;
}

.burger-button::before,
.burger-button::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: var(--color-white);
}
.burger-button::before {
  top: 0;
  box-shadow: 0 10px 0 var(--color-white);
}
.burger-button::after {
  bottom: 0;
}
