.photo_full {
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    backdrop-filter: blur(10px);
}

.photo_full_opened {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}

.photo__image_full {
    margin: auto;
    max-height: calc(100vh - 100px);
    max-width: calc(100vw - 30px);
    width: auto;
    height: auto;
    border-radius: 20px;
    cursor: default;
}

.photo__close-button {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 16px;
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
}

.photo__close-button:before {
    position: absolute;
    content: "";
    height: 15px;
    border: 2px solid var(--color-gray);
    top: -1px;
    left: 6.5px;
    background-color: var(--color-gray);
    transform: rotate(45deg);
    border-radius: 1px;
}

.photo__close-button:after {
    position: absolute;
    content: "";
    height: 15px;
    border: 2px solid var(--color-gray);
    top: -1px;
    left: 6.5px;
    background-color: var(--color-gray);
    transform: rotate(-45deg);
    border-radius: 1px;
}