.header-link__conteiner {
    display: flex;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.8;
    border: none;
    background-color: transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    flex-shrink: 0; 
}

.header-link {
    font-size: 20px;
    line-height: 45px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-white);
}

.header-link__conteiner:hover {
    opacity: 1;
    border-top: 3px solid transparent;
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
}

@media (max-width: 1175px) {
    .header-link__conteiner {
        display: none;
    }
}

.header-link__text {
    font-size: 20px;
    line-height: 45px;
    font-weight: 400;
    font-style: normal;
    color: var(--color-white);
    background-color: transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
}

@media (max-width: 1079px) {
    .header-link__text {
        display: none;
    }
}

.header-link__conteiner_burger {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    opacity: 0.6;
    border: none;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.header-link__conteiner_burger:hover {
    opacity: 1;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.header-link_burger {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-black);
}

.header-link__text_burger {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
    color: var(--color-black);
    background-color: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}