.header-link__conteiner {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
    height: 60px;
}

.header-link {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-white);
}

.header-link__conteiner:hover {
    opacity: 1;
}

@media (max-width: 1180px) {
    .header-link {
      display: none;
    }
  }