.main-logo__conteiner {
    /* position: relative; */
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    flex-shrink: 0;
    z-index: 99;
    background-color: var(--color-white);
    overflow: hidden;
}

.main-logo__image {
    width: 75%;
    height: 90%;
    margin: auto;
}
