.found__ikon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, .1); */
}

.found__image {
    height: 100%;
    width: 100%;
}

@media (max-width: 480px) {
    .found__ikon {
        display: none;
    }
}
