.found__ikon {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
}

.found__image {
    height: 100%;
    width: 100%;
}

@media (max-width: 1023px) {
    .found__ikon {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 439px) {
    .found__ikon {
        display: none;
    }
}
