.carouselimage {
    width: 33.3%;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .carouselimage {
        width: 50%;
    }
}

@media (max-width: 660px) {
    .carouselimage {
        width: 100%;
    }
}

.carouselimage::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.carouselimage__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    object-position: top;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    position: relative;
    border-radius: 20px;
    margin: auto;
}

.carouselimage__image.loaded {
    opacity: 1;
}

.carouselimage__image.loaded::before {
    content: none;
    animation: none;
}
