.news-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: linear-gradient(
        180deg,
        var(--color-white) 0%,
        var(--color-dust-white) 100%
    );
    /* min-height: 3100px; */
}

.news-list__conteiner {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    padding: 50px 20px;
    max-width: 1200px;
    flex-direction: column;

}

.news-list__block {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
}