.header {
    width: 100%;
    background-color: transparent;
    padding: 0 30px;
    display: flex;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    align-items: flex-start;
}

@media (max-width: 1023px) {
    .header {
        padding: 0 20px;
    }
}

@media (max-width: 799px) {
    .header {
        padding: 0 10px;
    }
}

.header_gradient {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    height: 300px;
}

.header_visibility {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
}

.header__navigation {
    position: relative;
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    flex-shrink: 0;
}

.header__links {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 30px;
    width: 200px;
}

@media (max-width: 1023px) {
    .header__links {
        left: 20px;
    }
}

@media (max-width: 799px) {
    .header__links {
        left: 10px;
    }
}

@media (max-width: 499px) {
    .header__links {
        width: 180px;
    }
}

.header__book {
    width: 110px;
    position: absolute;
    right: 30px;
}

@media (max-width: 1023px) {
    .header__book {
        right: 20px;
    }
}

@media (max-width: 799px) {
    .header__book {
        right: 10px;
    }
}
