.header {
    width: 100%;
    background-color: transparent;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    align-items: flex-start;
}

@media (max-width: 450px) {
    .header {
        padding: 10px;
    }
}

.header_visibility {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

@media (max-width: 450px) {
    .header_visibility {
        padding: 10px;
    }
}

.header__navigation {
    position: relative;
    display: flex;
    gap: 25px;
    background-image: linear-gradient(
        90deg,
        var(--color-blue) 10%,
        var(--color-pink) 90%
    );
    align-items: center;
    padding: 0 5px 0 30px;
    border-radius: 30px;
    height: 50px;
    margin: 5px 0;
    margin-left: auto;
    flex-shrink: 0;
}

.header__links {
    display: flex;
    gap: 10px;
}

.header__book {
    height: 46px;
    width: 46px;
}

.header_margin {
    margin-right: 7.5px;
}
