.projects-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    padding-top: 100px;
    padding-bottom: 1px;
}

.projects-list__ref {
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 1px;
    background-color: var(--color-black);
}

.projects-list__conteiner {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    list-style-type: none;
    padding-top: 50px;
    gap: 1px;
    width: 100%;
}

@media (max-width: 1199px) {
    .projects-list__conteiner {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 799px) {
    .projects-list__conteiner {
        grid-template-columns: 1fr;
    }
}
