.book {
    background-color: var(--color-white);
    border-radius: 22px;
    height: 44px;
    /* width: 110px; */
    color: var(--color-black);
    position: absolute;
    top: 8px;
    right: 0px;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid rgba(0,0,0, 0.3);
}

.book:hover {
    width: 165px;
    height: 230px;
    padding: 10px 20px;
    flex-direction: column;
}

.book__title {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    transition: all 0.5s ease-in-out;
}

.book:hover > .book__title {
    font-size: 18px;
    line-height: 40px;
}

.book__title_hover {
    font-size: 18px;
    line-height: 40px;
    display: none;
}

.book:hover > .book__title_hover {
    display: block;
    /* visibility: visible; */
}

.book__text {
    font-size: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--color-black);
    display: none;
}

.book:hover > .book__text {
    font-size: 14px;
    display: block;
}

.book__image {
    width: 36px;
    height: 36px;
    transition: all 0.5s ease-in-out;
}

.book:hover > .book__image {
    width: 65px;
    height: 65px;
}
