.gallery {
    max-width: 1200px;
}

.gallery__conteiner {
    width: 100%;
    overflow-x: auto;
    position: relative;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    display: flex;
}

.gallery__conteiner::-webkit-scrollbar {
    display: none;
}

.gallery__item {
min-width: 100%;
display: flex;
align-items: center;
justify-content: center;
scroll-snap-align: start;
scroll-snap-stop: always;
background: url('/loader.gif') center center no-repeat;
background-size: 30px 30px;
}

.gallery__navigation {
    padding: 15px 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 600px;
}