.gallery {
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    width: 100%;
    background-color: var(--color-dust-white);
}

@media (max-width: 1023px) {
    .gallery {
        padding: 50px 20px;
    }
}

@media (max-width: 799px) {
    .gallery {
        padding: 50px 10px;
    }
}

.gallery__conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    max-width: 1200px;
    z-index: 2;
    background-color: transparent;
}