.gallery {
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    width: 100%;
    background-color: var(--color-black);
}

.gallery__conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-black);
    max-width: 1200px;
    min-height: 500px;
    z-index: 2;
}