.helpus {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
}

.documents__title {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    font-style: normal;
    padding: 0 20px;
    color: var(--color-white);
}

.helpus__conteiner {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: calc(100% - 60px);
    margin-top: 200px;
    border-radius: 20px;
    background-color: var(--color-white);
    max-width: 1200px;
    min-height: 600px;
    z-index: 1;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    gap: 20px;
    position: relative;
    padding: 80px 50px 80px;
    margin-bottom: 50px;
}

@media (max-width: 1023px) {
    .helpus__conteiner {
        padding: 80px 40px;
        width: calc(100% - 40px);
    }
}

@media (max-width: 799px) {
    .helpus__conteiner {
        padding: 80px 30px;
        width: calc(100% - 20px);
    }
}

.helpus__link {
    color: var(--color-marine);
}

.helpus__title {
    font-size: 28px;
    line-height: 1.4;
    font-weight: 500;
    font-style: normal;
}

.helpus__numlist {
    list-style-type: decimal;
    padding-left: 40px;
}

.helpus__li {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
    padding-left: 10px;
}

@media (max-width: 1023px) {
    .helpus__li {
        font-size: 18px;
    }
}

.helpus__article {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.helpus__text {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1023px) {
    .helpus__text {
        font-size: 18px;
    }
}

.helpus__list {
    list-style-type: " – ";
    padding-left: 40px;
}

.helpus__qr {
    width: 300px;
    height: 300px;
    margin: 40px auto;
}

.helpus__image {
  width: 100%;
  height: auto;
}