.logo__conteiner {
    display: flex;
    overflow: hidden;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    max-width: 200px;
    flex-shrink: 1;
    background-color: transparent;
}

.logo__image {
    width: auto;
    height: 60px;
    padding: 5px 0;
    transition: all .3s linear;
}

.logo__image_large {
    width: auto;
    height: 140px;
    max-width: 100px;
    margin: 25px 0 15px;
    transition: none;
}

.logo__text {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    color: var(--color-white);
}

@media (max-width: 500px) {
    .logo__text {
        font-size: 18px;
    }
}

@media (max-width: 280px) {
    .logo__text {
        font-size: 14px;
    }
}