.news-list {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-image: linear-gradient(
        180deg,
        var(--color-white) 0%,
        var(--color-dust-white) 100%
    );
}

.news-list__conteiner {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    padding: 50px 30px;
    max-width: 1200px;
}

.news-list__articles {
    display: flex;
    flex-direction: column;
    width: 70%;
    list-style-type: none;
    gap: 20px;
}

.news-list__image {
    width: 30%;
    height: auto;
    border-radius: 20px;
    border: 2px solid var(--color-pink);
    object-fit: cover;
}
