.project-card__conteiner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.project-card__text {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1023px) {
    .project-card__text {
        font-size: 18px;
    }
}

@media (max-width: 799px) {
    .project-card__text {
        font-size: 16px;
    }
}

.project-card__article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-card__title {
    font-weight: 900;
}

.project-card__list {
    list-style-type: " – ";
    padding-left: 40px;
}

.project-card__numlist {
    list-style-type: decimal;
    padding-left: 40px;
}

.project-card__li {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
    padding-left: 10px;
}

@media (max-width: 1023px) {
    .project-card__li {
        font-size: 18px;
    }
}

@media (max-width: 799px) {
    .project-card__li {
        font-size: 16px;
    }
}