.topimage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.topimage__image {
    object-fit: cover;
    object-position: center;
}


/* По умолчанию скрываем мобильные и планшетные версии */
.topimage__image--tablet,
.topimage__image--mobile,
.topimage__image--PC {
    display: none !important;
}

/* Планшетная версия (например, до 1600px) */
@media (max-width: 1600px) {
    .topimage__image--desktop {
        display: none !important;
    }
    .topimage__image--PC {
        display: block !important;
    }
}

/* Планшетная версия (например, до 1200px) */
@media (max-width: 1200px) {
    .topimage__image--PC {
        display: none !important;
    }
    .topimage__image--tablet {
        display: block !important;
    }
}

/* Мобильная версия (например, до 800px) */
@media (max-width: 800px) {
    .topimage__image--tablet {
        display: none !important;
    }
    .topimage__image--mobile {
        display: block !important;
    }
}
