.topimage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.topimage__image {
    object-fit: cover;
    object-position: center;
    /* opacity: 0; */
}

.topimage__image.loaded {
    opacity: 1;
}
