.header-link__conteiner,
.header-link__conteiner_disabled {
    display: block;
    position: relative;
}

@media (max-width: 1400px) {
    .header-link__conteiner,
    .header-link__conteiner_disabled {
        display: none;
    }
}

.header-link__conteiner_burger,
.header-link__conteiner_burger_disabled {
    display: block;
    position: relative;
    margin: auto;
}

.header-link {
    border: none;
    background-color: transparent;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    color: var(--color-white);
    transition: opacity 0.5s ease-in-out;
    opacity: 0.6;
}

.header-link:hover {
    opacity: 0.9;
}

.header-link:disabled {
    font-weight: 500;
    cursor: default;
    background-color: transparent;
    opacity: 1;
}

.header-link_black {
    color: var(--color-black);
}

.header-link__border {
    position: absolute;
    top: 35px;
    left: 50%;
    width: 0%;
    height: 4px;
    background-color: var(--color-marine);
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
}

.header-link__conteiner:hover > .header-link__border {
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
}

.header-link__conteiner_burger:hover > .header-link__border {
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
}
