.about-us {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: var(--color-white);
}

.about-us__columns {
    display: flex;
    padding: 50px 30px 100px 30px;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 599px) {
    .about-us__columns {
        flex-direction: column;
    }
}

.about-us__conteiner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us__text {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1023px) {
    .about-us__text {
        font-size: 18px;
    }
}

@media (max-width: 799px) {
    .about-us__text {
        font-size: 16px;
    }
}

.about-us__member {
    margin: 0 auto;
}