.partners {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 50px;
}

.partners__conteiner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 30px;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 20px;
}

.partners__item {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
    overflow: hidden;
    transition: scale 0.3s ease-in-out;
}

.partners__item:hover {
    scale: 105%;
}

.partners__icon {
    width: 100%;
    object-fit: contain;
}
