.logo__conteiner {
    display: flex;
    /* overflow: hidden; */
    border: none;
    cursor: pointer;
    align-items: center;
    /* gap: 5px; */
    /* flex-direction: column; */
    /* max-width: 200px; */
    flex-shrink: 1;
    background-color: transparent;
}

.logo__image {
    width: auto;
    height: 60px;
    padding: 5px 0;
    /* background-color: var(--color-black); */
}

.logo__image_large {
    width: auto;
    height: 80px;
padding: 5px 0;
}

.logo__text {
    font-style: normal;
    color: var(--color-white);
    align-self: flex-start;
}

.logo__text_first_line {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
}

.logo__text_second_line {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
}

@media (max-width: 500px) {
    .logo__text_first_line {
        font-size: 18px;
    }
}
@media (max-width: 500px) {
    .logo__text_second_line {
        font-size: 10px;
    }
}

.box {
    display: flex;
    flex-direction:column;
    margin-left: 10px;
    padding-left: 20px;
    width: 170px;
    border-left: 1px solid var(--color-white);
}

@media (max-width: 450px) {
    .box {
        visibility: hidden;
    }
}