.news__box {
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.news_border_white {
    border: 2px solid var(--color-white);
}

.news__date {
    flex-shrink: 0;
    color: var(--color-pink);
}

.news__button_open {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: var(--color-white);
    text-align: center;
    line-height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
}

.news:hover > .news__button_open {
    visibility: visible;
    opacity: 1;
    line-height: 35px;
}

.news__button_open:hover {
    padding: 10px;
}

.news__conteiner {
    display: flex;
    gap: 30px;
}

@media (max-width: 699px) {
    .news__conteiner {
        flex-direction: column;
        gap: 15px;
    }
}

/* .news__preview {
    font-weight: 500;
    margin-bottom: 15px;
} */

.news__photoconteiner {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    margin-left: auto;
}

@media (max-width: 699px) {
    .news__photoconteiner {
        margin: auto;
    }
}

.news__photoconteiner::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.news__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    object-position: top;
    opacity: 0;
    position: relative;
    margin: auto;
}

.news__photo.news__photo_loaded {
    opacity: 1;
}

.news__photo.news__photo_loaded::before {
    content: none;
    animation: none;
}

.news__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news__title {
    font-size: 20px;
    line-height: 1.4;
    font-style: normal;
    font-weight: 500;
}

.news__text {
    font-size: 20px;
    line-height: 1.4;
    font-style: normal;
    font-weight: 400;
}